<app-navbar></app-navbar>



<div class="container" style="margin-top:40px;">

    

    <div *ngFor="let task of tasks" class="border-secondary col-lg-4 col-md-6" 
    style="padding: 0px;
    float: left; 
    height: 160px; 
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;" >

      <div class="bg-primary"
        style=" padding: 0.5rem 1.25rem;
                margin-bottom: 0;
                color: white;">
              <b>{{task.id}}</b>

        <!--img alt="ola" src="../../../precio.jpg">  -->
        </div>
  <div class="card-body">
    <br>
    <ul><li><b>{{task.title}}</b></li></ul>
  </div>
    </div>
  </div>


