<app-navbar></app-navbar>



<div class="container" style="margin-top:40px;">



  <div class="border-secondary col-lg-4 col-md-6" style="padding: 0px;
    float: left; 
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;">

    <div class="bg-primary" style=" padding: 0.5rem 1.25rem;
                margin-bottom: 0;
                color: white;">
      <b>Titulo</b> 
    </div>
    <div class="card-body">
      
      <ul>
        <li><b>Estado: </b></li>
        <li><b>Materia: </b></li>
        <li><b>Descripcion: </b></li>
        <li><b>Precio: </b></li>
        <li><b>Autor: </b></li>
      </ul>
    </div>
  </div>
</div>